.auth {
  text-align: center;
}
h1 {
  color: #a7bcff;
}

.auth button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #a7bcff;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
