.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth {
  text-align: center;
}
h1 {
  color: #a7bcff;
  font-size: 53px;
  font-family: "Coolvetica";
  font-weight: 400;
}

.auth button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #a7bcff;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
