.room {
  text-align: center;
  background-image: url("./images/ball.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.room img {
  max-width: 100%;
  height: auto;
}
.room label {
  font-family: "Coolvetica";
  color: white;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .room {
    height: auto;
  }
  .room label {
    font-size: 16px;
  }
}

.App {
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/CoolveticaRg-Regular.woff2") format("woff2"),
    url("./assets/fonts/CoolveticaRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sign-out-button {
  border: none;
  background-color: #e87f46;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.sign-out {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 10px; /* Add some margin if needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
